html {
    height: 100%;
    font-family: arial,sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    height: 30px;
    font-size: 13px;
    color: rgba(0,0,0,0.87);
    display: flex;
    justify-content: flex-end;
    margin: 16px 30px 0 0;
    flex: 0 0 auto;
}

.menu {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    margin: 0;
}

.menu li {
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left:  15px;
}

.menu li a {
    text-decoration: none;
    color: rgba(0,0,0,0.87)
}

.menu li a:hover {
    opacity: .85;
    text-decoration: underline;
}

.menu .app a {
    width: 30px;
    height: 28px;
    opacity: .55;
    background-image: url('img/g.png');
    background-position: -132px -38px;
    background-size: 528px 68px;
}

.menu .app a:hover {
    opacity: .85;
    text-decoration: none;
}

.menu .signin {
    line-height: 0px;
    padding: 0 12px;
    border-radius: 2px;
    border: 1px solid #4285f4;
    background: #4285f4;
    cursor: pointer;
    text-decoration: none;
}

.menu .signin a {
    font-weight: bold;
    color: #fff;
}

.menu .signin a:hover {
    opacity: 1;
    text-decoration: none;
}

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 152px;
    flex: 1 0 auto;
}

.search .item-logo img {
    width: 272px;
    height: 92px;
    background: #fff;
    padding-bottom: 23px;
}

.search .item-input {
    width: 582px;
    height: 44px;
    border-radius: 24px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search .item-input .loupe {
    height: 24px;
    width: 24px;
    padding: 0 14px;
    padding-top: 3px;
    color: #9AA0A6;
    fill: currentColor;
}

.search .item-input input {
    height: 34px;
    font-size: 16px;
    color: rgba(0,0,0,.87);
    padding: 0;
    background-color: transparent;
    border: none;
    display: flex;
    flex: 100%;
}

.search .item-input .keyboard {
    height: 24px;
    width: 24px;
    padding-right: 35px;
    background: url('img/keyboard.png') no-repeat center;
    cursor: pointer;
}

.search .item-input:hover,
.search .item-input:focus-within {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

.search .item-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px;
}

.search .item-button .button {
    height: 34px;
    min-width: 54px;
    padding: 0 16px;
    margin: 0 6px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.search .item-button .button:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}

.search .item-button .button:focus {
    border: 1px solid #4d90fe;
}

.footer {
    height: 82px;
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    color: rgba(0,0,0,.54);
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
}

.country {
    height: 41px;
    font-size: 15px;
    border-bottom: 1px solid #e4e4e4;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.fmenu {
    height: 41px;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
}

.fmenu-right , .fmenu-left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.fmenu-left {
    padding-left: 30px;
}

.fmenu-right {
    padding-right: 3px;
}

.fmenu-right .item, .fmenu-left .item {
    padding-right: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
}